#table-1{
	width:500px;
	height:100px;
}
.t11{
	text-align:left;
}
.t12{
	text-align:center;
}
.t13{
	text-align:right;
}
#table-2{
	width:500px;
	height:200px;
}
td{
	border:1px solid rgb(0,0,0);
	text-align:center;
}
.box1,.box3{
	height:30px;
	width:600px
}
.box1{
	background-color:green;
}
.box3{
	background-color:blue;
}
#t11{
	text-align:left;
}
#t13{
	text-align:right;
}